

<div style="padding: 35px;">

    <h2>Administración de clientes</h2>

    <div style="margin-bottom: 20px;">
        <!-- <button mat-raised-button (click)="sidenavAddClient.toggle()"> Agregar cliente </button> -->
        <!-- <button mat-raised-button (click)="removeColumn()"> Remove column </button> -->
        <!-- <button mat-raised-button (click)="shuffle()"> Shuffle </button> -->
        <button class="button" (click)="sidenavAddClient.toggle()">Agregar cliente</button>

    </div>
    
    <div>
        <mat-tab-group>
            <mat-tab label="Persona Natural">

                <app-natural></app-natural>

            </mat-tab>
            
            <mat-tab label="Persona Juridica">

                <app-juridical></app-juridical> 
            
            </mat-tab>
            
        </mat-tab-group>

    </div>

</div>
  

<mat-sidenav #sidenavAddClient [mode]="mode.value" position="end" style="width: 650px;" disableClose>

    <button class="button-modal" mat-fab aria-label="Cerrar Modal" (click)="sidenavAddClient.close()" mat-disable-backdrop>
        <mat-icon style="padding-right: 0px;">close</mat-icon>
    </button>

    <mat-tab-group>
        <mat-tab label="Persona Natural">
            
            <div class="natural-section">
                <h2>Datos Personales</h2>

                <div class="sm-4 left">
                    <mat-form-field>
                        <input matInput placeholder="Apellido Paterno" [(ngModel)]="apellidoPaterno" name="apellidoPaterno">
                    </mat-form-field>

                </div>

                <div class="sm-4 left">
                    <mat-form-field>
                        <input matInput placeholder="Apellido Materno" [(ngModel)]="apellidoMaterno" name="apellidoMaterno">
                    </mat-form-field>

                </div>
                <div class="sm-4 left">
                    <mat-form-field>
                        <input matInput placeholder="Nombres" [(ngModel)]="nombres" name="nombres">
                    </mat-form-field>

                </div>
            </div>
            
            <div class="natural-section">
                <div class="sm-4 left">
                    <mat-form-field>
                        <input matInput placeholder="Correo Electrónico" [(ngModel)]="correoElectronicoPersona" name="correoElectronicoPersona">
                    </mat-form-field>
                </div>
               
                <div class="sm-4 left">
                    <mat-form-field>
                        <input matInput placeholder="DNI" [(ngModel)]="dni" name="dni" type="number" (keyup)="maximoTamanio('dni')">
                    </mat-form-field>

                </div>
            </div>

            

            <div class="natural-section" style="padding-bottom: 60px;">
                <button class="button" (click) = "registrarNatural(sidenavAddClient)">REGISTRAR</button>

            </div>

        </mat-tab>
        <mat-tab label="Persona Jurídica"> 
            
            <div class="natural-section">
                <h2>Datos Empresariales</h2>
                <div class="sm-4 left">
                    <mat-form-field>
                        <input matInput placeholder="Razon Social" [(ngModel)]="razonSocial" name="razonSocial">
                    </mat-form-field>
                </div>
                <div class="sm-4 left">
                    <mat-form-field>
                        <input matInput placeholder="Nombre Comercial" [(ngModel)]="nombreComercial" name="nombreComercial">
                    </mat-form-field>
                </div>
                <div class="sm-4 left">
                    <mat-form-field>
                        <input matInput placeholder="RUC" [(ngModel)]="ruc" name="ruc" type="number" (keyup)="maximoTamanio('ruc')">
                    </mat-form-field>
                </div>

            </div>

            <div class="natural-section">
                <div class="sm-4 left">
                    <mat-form-field>
                        <input matInput placeholder="Correo Electrónico" [(ngModel)]="correoElectronicoEmpresa" name="correoElectronicoEmpresa">
                    </mat-form-field>
                </div>

            </div>
           
            <div class="natural-section" style="padding-bottom: 60px;">

                <button class="button" (click) = "registrarJuridica(sidenavAddClient)">REGISTRAR</button>

            </div>
                                    
        </mat-tab>
    </mat-tab-group>

</mat-sidenav>