
<div style="padding: 35px;">

    <h2>Administración de usuarios</h2>

    <div style="margin-bottom: 20px;">
        <!-- <button mat-raised-button (click)="addColumn()"> Agregar usuario </button> -->
        <button class="button">Agregar usuario</button>

        <!-- <button mat-raised-button (click)="removeColumn()"> Remove column </button> -->
        <!-- <button mat-raised-button (click)="shuffle()"> Shuffle </button> -->

    </div>
    <table mat-table [dataSource]="data" class="mat-elevation-z8" style="width: 100%;">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>

</div>
