


<!-- DRAWER -->
<mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="mode.value">

        <div class="cabecera">
            <img src="https://www.give.garden/img/front/images/users/default_user.png" alt="" width="50px" style="border-radius: 50%;">
            <p style="color: white; font-size: 14px;">
                alfredeveloper@gmail.com
            </p>
        </div>
        <div style="width: 300px;">
            <mat-list>
                <mat-list-item [routerLink]="['/admin-administrador-dashboard']" (click)="sidenav.close()"> 
                    <mat-icon aria-hidden="false" aria-label="Example home icon">dashboard</mat-icon>
                    Dashboard
                </mat-list-item>
                <mat-list-item [routerLink]="['/admin-administrador']" (click)="sidenav.close()"> 
                    <mat-icon aria-hidden="false" aria-label="Example home icon">supervisor_account</mat-icon>
                    Administrar Usuarios 
                </mat-list-item>
                <mat-list-item [routerLink]="['/admin-administrador-cliente']"> 
                    <mat-icon aria-hidden="false" aria-label="Example home icon">people</mat-icon>
                    Administrar Clientes
                 </mat-list-item>
                <mat-list-item [routerLink]="['/admin-administrador-chat']"> 
                    <mat-icon aria-hidden="false" aria-label="Example home icon">notifications</mat-icon>
                    Notificaciones 
                </mat-list-item>
                <mat-list-item [routerLink]="['/admin-administrador-ayuda']"> 
                    <mat-icon aria-hidden="false" aria-label="Example home icon">help</mat-icon>
                    Ayuda 
                </mat-list-item>
                <mat-list-item [routerLink]="['/admin']"> 
                    <mat-icon aria-hidden="false" aria-label="Example home icon">exit_to_app</mat-icon>
                    Cerrar sesión 
                </mat-list-item>
            </mat-list>
        </div>
    
    </mat-sidenav>
  
    <mat-sidenav-content>

        <div>

            <ul class="navbar">
                
                <li class="item-navbar">
                    <mat-icon (click)="sidenav.toggle()" style="color: white;">menu</mat-icon>
                </li>
                <li class="item-navbar" style="color: white;">Hola, Gustavo Paul</li>
                <li class="item-navbar" style="float: right;">
                    <button mat-button [matMenuTriggerFor]="menuAccount">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: white;">account_circle</mat-icon>

                    </button>
                    <mat-menu #menuAccount="matMenu">
                        <button mat-menu-item>Notificacion de prueba</button>
                        <button mat-menu-item>Item 2</button>
                    </mat-menu>
                </li>
                <li class="item-navbar" style="float: right;">
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: white;">notifications</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 2</button>
                    </mat-menu>
                </li>
                
            </ul>
        </div>

        <div style="padding: 35px;">

            <h2>Administrar clientes</h2>

            <div style="margin-bottom: 20px;">
                <button mat-raised-button (click)="sidenavAddClient.toggle()"> Agregar cliente </button>
                <!-- <button mat-raised-button (click)="removeColumn()"> Remove column </button> -->
                <!-- <button mat-raised-button (click)="shuffle()"> Shuffle </button> -->

            </div>
            <div>
                <mat-tab-group>
                    <mat-tab label="Persona Natural">
                        <br>
                        <table mat-table
                                [dataSource]="dataSource2" multiTemplateDataRows
                                class="mat-elevation-z8">
                            <ng-container matColumnDef="Nombres" ngFor="let element of dataSource2">
                                <th mat-header-cell *matHeaderCellDef> Nombres </th>
                                <td mat-cell *matCellDef="let element" ngFor="let element of dataSource2"> {{element.Nombres}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Apellidos" >
                                <th mat-header-cell *matHeaderCellDef> Apellidos </th>
                                <td mat-cell *matCellDef="let element" ngFor="let element of dataSource2"> {{element.Apellidos}} </td>
                            </ng-container>

                            <ng-container matColumnDef="DNI" >
                                <th mat-header-cell *matHeaderCellDef> DNI </th>
                                <td mat-cell *matCellDef="let element" ngFor="let element of dataSource2"> {{element.DNI}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Correo" >
                                <th mat-header-cell *matHeaderCellDef> Correo </th>
                                <td mat-cell *matCellDef="let element" ngFor="let element of dataSource2"> {{element.Correo}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Estado" >
                                <th mat-header-cell *matHeaderCellDef> Estado </th>
                                <td mat-cell *matCellDef="let element" ngFor="let element of dataSource2"> 
                                    <span class="status-aceptado" *ngIf="element.status == 'aceptado'">Aceptado</span>
                                    <span class="status-ingresado" *ngIf="element.status == 'ingresado'">Ingresado</span>
                                    <span class="status-evaluacion" *ngIf="element.status != 'aceptado' && element.status != 'ingresado' && element.status != 'rechazado'">En Evaluación</span>
                                    <span class="status-rechazado" *ngIf="element.status == 'rechazado'">Rechazado</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Accion">
                                <th mat-header-cell *matHeaderCellDef> Accion </th>
                                <td mat-cell *matCellDef="let element" ngFor="let element of dataSource2">  
                                    <button (click)="aceptar(element.id)" mat-mini-fab aria-label="Example icon-button with a heart icon" style="background-color: green; padding-right: 0px !important; width: 32px; height: 32px; border-radius: 4px;">
                                        <mat-icon style="padding-right: 0px; font-size: 16px;">check</mat-icon>
                                    </button>
                                    &nbsp;
                                    <button (click)="rechazar(element.id)" mat-mini-fab aria-label="Example icon-button with a heart icon"  style="background-color: red; padding-right: 0px !important; width: 32px; height: 32px; border-radius: 4px;">
                                        <mat-icon style="padding-right: 0px; font-size: 16px;">close</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                            <ng-container matColumnDef="expandedDetail">
                                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay2.length" ngFor="let element of dataSource2">
                                    <div class="example-element-detail"
                                        [@detailExpand]="element == expandedElement2 ? 'expanded' : 'collapsed'"
                                        style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s; width: 100%;">
                                            <div class="example-element-diagram" >
        
                                                <div style="width: 33%; float: left;">
                                                    <h3>Datos Personales</h3>

                                                    <p>{{element.Apellidos}} {{element.Nombres}}</p>
                                                    <p>Lima - Lima - Lima</p>
                                                    <p>Av. Alameda 2343</p>
                                                    <p>Masculino</p>
                                                </div>
                                                <div style="width: 33%; float: left;">
                                                    <h3>Datos De Identificación</h3>
                                                    
                                                    <p>DNI: 704568545</p>
                                                    <p>01/12/2000</p>
                                                    <p>{{element.Correo}}</p>
                                                    <p>985454152</p>
                                                </div>
                                                <div style="width: 33%; float: left;">
                                                    <h3>Datos Laborales</h3>
                                                    
                                                    <p>Ingeniero de sistemas</p>
                                                    <p>ECV</p>
                                                    
                                                </div>
                                                
                                            </div>
                                            
                                        
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="columnsToDisplay2"></tr>
                            <tr mat-row *matRowDef="let element; columns: columnsToDisplay2;"
                                class="example-element-row"
                                [class.example-expanded-row]="expandedElement2 === element"
                                (click)="expandedElement2 = expandedElement2 === element ? null : element">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                        </table>
                    
                    </mat-tab>
                    <mat-tab label="Persona Juridica">
                        <br>
                        <table mat-table
                                [dataSource]="dataSource1" multiTemplateDataRows
                                class="mat-elevation-z8">
                            <ng-container matColumnDef="Razon_Social">
                                <th mat-header-cell *matHeaderCellDef> Razon Social </th>
                                <td mat-cell *matCellDef="let element" ngFor="let element of dataSource1"> {{element.Razon_Social}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Nombre_Comercial">
                                <th mat-header-cell *matHeaderCellDef> Nombre Comercial </th>
                                <td mat-cell *matCellDef="let element" ngFor="let element of dataSource1"> {{element.Nombre_Comercial}} </td>
                            </ng-container>

                            <ng-container matColumnDef="RUC">
                                <th mat-header-cell *matHeaderCellDef> RUC </th>
                                <td mat-cell *matCellDef="let element" ngFor="let element of dataSource1"> {{element.RUC}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Correo">
                                <th mat-header-cell *matHeaderCellDef> Correo </th>
                                <td mat-cell *matCellDef="let element" ngFor="let element of dataSource1"> {{element.Correo}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Estado">
                                <th mat-header-cell *matHeaderCellDef> Estado </th>
                                <td mat-cell *matCellDef="let element" ngFor="let element of dataSource1"> 
                                    <span class="status-aceptado" *ngIf="element.status == 'aceptado'">{{element.Estado}}</span>
                                    <span class="status-ingresado" *ngIf="element.status == 'ingresado'">{{element.Estado}}</span>
                                    <span class="status-evaluacion" *ngIf="element.status == 'evaluacion'">{{element.Estado}}</span>
                                    <span class="status-rechazado" *ngIf="element.status == 'rechazado'">{{element.Estado}}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Accion" >
                                <th mat-header-cell *matHeaderCellDef> Accion </th>
                                <td mat-cell *matCellDef="let element" ngFor="let element of dataSource1">  
                                    <button (click)="aceptar(element.id)" mat-mini-fab aria-label="Example icon-button with a heart icon" style="background-color: green; padding-right: 0px !important; width: 32px; height: 32px; border-radius: 4px;">
                                        <mat-icon style="padding-right: 0px; font-size: 16px;">check</mat-icon>
                                    </button>
                                    &nbsp;
                                    <button (click)="rechazar(element.id)" mat-mini-fab aria-label="Example icon-button with a heart icon"  style="background-color: red; padding-right: 0px !important; width: 32px; height: 32px; border-radius: 4px;">
                                        <mat-icon style="padding-right: 0px; font-size: 16px;">close</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                            <ng-container matColumnDef="expandedDetail">
                                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay1.length">

                                    <div class="example-element-detail"
                                    [@detailExpand]="element == expandedElement1 ? 'expanded' : 'collapsed'"
                                    style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s; width: 100%;">
                                        <div class="example-element-diagram" >
    
                                            <div style="width: 25%; float: left;">
                                                <h3>Datos Empresariales</h3>

                                                <p>Vex Soluciones</p>
                                                <p>Lima - Lima - Lima</p>
                                                <p>Av. Alameda 2343</p>
                                                <p>RUC: 20145415252</p>
                                            </div>
                                            <div style="width: 25%; float: left;">
                                                <h3>Datos Personales</h3>

                                                <p>Yupanqui Alarcon Alfredo</p>
                                                <p>Lima - Lima - Lima</p>
                                                <p>Av. Alameda 2343</p>
                                                <p>Masculino</p>
                                            </div>
                                            <div style="width: 25%; float: left;">
                                                <h3>Datos De Identificación</h3>
                                                
                                                <p>DNI: 704568545</p>
                                                <p>01/12/2000</p>
                                                <p>alfredeveloper@gmail</p>
                                                <p>985454152</p>
                                            </div>
                                            <div style="width: 25%; float: left;">
                                                <h3>Datos Laborales</h3>
                                                
                                                <p>Ingeniero de sistemas</p>
                                                <p>ECV</p>
                                                
                                            </div>
                                            
                                        </div>
                                        
                                    
                                    </div>
                                        
                                    
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="columnsToDisplay1"></tr>
                            <tr mat-row *matRowDef="let element; columns: columnsToDisplay1;"
                                class="example-element-row"
                                [class.example-expanded-row]="expandedElement1 === element"
                                (click)="expandedElement1 = expandedElement1 === element ? null : element">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                        </table>

                    </mat-tab>
                </mat-tab-group>

            </div>

        </div>

    </mat-sidenav-content>
</mat-sidenav-container>
  

<mat-sidenav #sidenavAddClient [mode]="mode.value" position="end" style="width: 650px;" disableClose>

    <button class="button-modal" mat-fab aria-label="Cerrar Modal" (click)="sidenavAddClient.close()" mat-disable-backdrop style="border-radius: 4px;">
        <mat-icon style="padding-right: 0px;">close</mat-icon>
    </button>

    <mat-tab-group>
        <mat-tab label="Eres una persona natural">
            
            <div class="natural-section">
                <h2>Datos Personales</h2>

                <div class="sm-4 left">
                    <mat-form-field>
                        <input matInput placeholder="Apellido Paterno" [(ngModel)]="apellidoPaterno" name="apellidoPaterno">
                    </mat-form-field>

                </div>

                <div class="sm-4 left">
                    <mat-form-field>
                        <input matInput placeholder="Apellido Materno" [(ngModel)]="apellidoMaterno" name="apellidoMaterno">
                    </mat-form-field>

                </div>
                <div class="sm-4 left">
                    <mat-form-field>
                        <input matInput placeholder="Nombres" [(ngModel)]="nombres" name="nombres">
                    </mat-form-field>

                </div>
            </div>
            
            <div class="natural-section">
                <div class="sm-4 left">
                    <mat-form-field>
                        <input matInput placeholder="Correo Electrónico" [(ngModel)]="correoElectronicoPersona" name="correoElectronicoPersona">
                    </mat-form-field>
                </div>
               
            </div>

            

            <div class="natural-section">
                <button class="button" (click) = "registrarNatural(sidenavAddClient)">REGISTRAR</button>

            </div>

        </mat-tab>
        <mat-tab label="Eres una persona jurídica"> 
            
            <div class="natural-section">
                <h2>Datos Empresariales</h2>
                <div class="sm-4 left">
                    <mat-form-field>
                        <input matInput placeholder="Razon Social" [(ngModel)]="razonSocial" name="razonSocial">
                    </mat-form-field>
                </div>
                <div class="sm-4 left">
                    <mat-form-field>
                        <input matInput placeholder="Nombre Comercial" [(ngModel)]="nombreComercial" name="nombreComercial">
                    </mat-form-field>
                </div>
                <div class="sm-4 left">
                    <mat-form-field>
                        <input matInput placeholder="RUC" [(ngModel)]="ruc" name="ruc">
                    </mat-form-field>
                </div>

            </div>

            <div class="natural-section">
                <div class="sm-4 left">
                    <mat-form-field>
                        <input matInput placeholder="Correo Electrónico" [(ngModel)]="correoElectronicoEmpresa" name="correoElectronicoEmpresa">
                    </mat-form-field>
                </div>

            </div>
           
            <div class="natural-section">

                <button class="button" (click) = "registrarJuridica(sidenavAddClient)">REGISTRAR</button>

            </div>
                                    
        </mat-tab>
    </mat-tab-group>

</mat-sidenav>