ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1b1e4c;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

mat-sidenav-container {
    height: 100%;
}

.navbar {
    padding: 20px;
}

.item-navbar {
    padding-right: 30px;
}

.cabecera {
    width: 100%;
    height: 110px;
    background-color: #1b1e4c;
    padding: 15px 0px 0px 15px;
}

mat-icon {
    padding-right: 20px;
    
}

.natural-section {
    padding: 20px 20px 0px 20px;
    overflow:auto; 
}


.sm-4 {
    width: 33%;
}

.sm-8 {
    width: 66%;
}

.left  { float:left;  }



.button-modal {
	background-color: white;
	color: black;
	position: fixed;
	margin-left: -64px;
}

.button {
	border-radius: 20px;
	border: 1px solid #1b1e4c;
	background-color: #1b1e4c;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}



table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: rgb(221, 218, 218);
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #dfd9d9;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    width: 100%;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 170px;
    padding-left: 20px;
    padding-right: 20px;  
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  td {
    padding-left: 0px;
    padding-right: 0px;
  }

  .status-aceptado {
    background-color: #f0f9eb;
    padding: 9px;
    border-radius: 4px;
    color: #67c23a;
    font-size: 12px;
    border: 1px solid #e1f3d8;
  }

  .status-ingresado {
    background-color: #ecf5ff;
    padding: 9px;
    border-radius: 4px;
    color: #409eff;
    font-size: 12px;
    border: 1px solid #b3d8ff;
  }

  .status-evaluacion {
    background-color: #fef0f0;
    padding: 9px;
    border-radius: 4px;
    color: #E6A23C;
    font-size: 12px;
    border: 1px solid #fde2e2;
  }

  .status-rechazado {
    background-color: #fef0f0;
    padding: 9px;
    border-radius: 4px;
    color: #f56c6c;
    font-size: 12px;
    border: 1px solid #fde2e2;
  }