


<!-- DRAWER -->
<mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="mode.value">

        <div class="cabecera">
            <img src="https://www.give.garden/img/front/images/users/default_user.png" alt="" width="50px" style="border-radius: 50%;">
            <p style="color: white; font-size: 14px;">
                alfredeveloper@gmail.com
            </p>
        </div>
        <div style="width: 300px;">
            <mat-list>
                <mat-list-item [routerLink]="['/admin-cliente']"> 
                    <mat-icon class="mat-drawer-icon" aria-hidden="false" aria-label="Example home icon">bar_chart</mat-icon>
                    Capítal de Inversión 
                </mat-list-item>
                <mat-list-item [routerLink]="['/admin-cliente-configuration']"> 
                    <mat-icon class="mat-drawer-icon" aria-hidden="false" aria-label="Example home icon">branding_watermark</mat-icon>
                    
                    Configuracion de cuenta
                </mat-list-item>
                
                <mat-list-item [routerLink]="['/admin-cliente-cambio-contraseña']"> 
                    <mat-icon class="mat-drawer-icon" aria-hidden="false" aria-label="Example home icon">lock</mat-icon>
                    
                    Cambio de contraseña
                </mat-list-item>
                <mat-list-item [routerLink]="['/admin-cliente-help']"> 
                    <mat-icon class="mat-drawer-icon" aria-hidden="false" aria-label="Example home icon">help</mat-icon>
                    
                    Ayuda 
                </mat-list-item>
                <mat-list-item [routerLink]="['/iniciar-sesion']"> 
                    <mat-icon class="mat-drawer-icon" aria-hidden="false" aria-label="Example home icon">exit_to_app</mat-icon>
                    
                    Cerrar sesión 
                </mat-list-item>
            </mat-list>
        </div>
    
    </mat-sidenav>
  
    <mat-sidenav-content>

        <div>

            <ul class="navbar">
                
                <li class="item-navbar">
                    <mat-icon (click)="sidenav.toggle()" style="color: white;">menu</mat-icon>
                </li>
                <li class="item-navbar" style="color: white;">Hola, Gustavo Paul</li>
                <li class="item-navbar" style="float: right;">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: white;">account_circle</mat-icon>
                </li>
                <li class="item-navbar" style="float: right;">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: white;">notifications</mat-icon>
                </li>
                
            </ul>
        </div>

        <div style="padding: 35px;">

            <h2>Cambio de contraseña</h2>

            <div style="background-color: white; padding: 20px;">

                <h3>Persona Natural</h3>
                <div class="natural-section">
                   
                    <div>
                        <mat-form-field>
                            <input matInput placeholder="Contraseña Actual" [type]="hide ? 'password' : 'text'" [(ngModel)]="currentPassword" name="currentPassword">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field>
                            <input matInput placeholder="Nueva Contraseña" [type]="hideChange ? 'password' : 'text'" [(ngModel)]="newPassword" name="newPassword">
                            <button mat-icon-button matSuffix (click)="hideChange = !hideChange" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
                            <mat-icon>{{hideChange ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>


                    <div>
                        <mat-form-field>
                            <input matInput placeholder="Confirmar Nueva Contraseña" [type]="hideChangeConfirm ? 'password' : 'text'" [(ngModel)]="newPasswordConfirm" name="newPasswordConfirm">
                            <button mat-icon-button matSuffix (click)="hideChangeConfirm = !hideChangeConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hideChangeConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    
                </div>

                <div class="natural-section" style="padding: 10px;">

                    <button mat-raised-button color="primary" (click)="cambiarContrasenia()">Cambiar Contraseña</button>
                        &nbsp;
                    <button mat-raised-button (click)="cancelar()">Cancelar</button>
                </div>
            </div>

            
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>
  
