<mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="mode.value">

        <div class="cabecera">
            <img src="https://www.give.garden/img/front/images/users/default_user.png" alt="" width="50px" style="border-radius: 50%;">
            <p style="color: white; font-size: 14px;">
                alfredeveloper@gmail.com
            </p>
        </div>
        <div style="width: 300px;">
            <mat-list>
                <mat-list-item [routerLinkActive]="['active']" [routerLink]="['/admin-administrador-dashboard']" (click)="sidenav.close()"> 
                    <mat-icon class="mat-icons" aria-hidden="false" aria-label="Example home icon">dashboard</mat-icon>
                    Dashboard
                </mat-list-item>
                <mat-list-item [routerLinkActive]="['active']" [routerLink]="['/admin-usuarios']" (click)="sidenav.close()"> 
                    <mat-icon class="mat-icons" aria-hidden="false" aria-label="Example home icon">supervisor_account</mat-icon>
                    Administración de Usuarios 
                </mat-list-item>
                <mat-list-item [routerLinkActive]="['active']" [routerLink]="['/admin-administrador-cliente']" (click)="sidenav.close()"> 
                    <mat-icon class="mat-icons" aria-hidden="false" aria-label="Example home icon">people</mat-icon>
                    
                    Administración de Clientes
                 </mat-list-item>
                 <mat-list-item [routerLinkActive]="['active']" [routerLink]="['/admin-administrador-chat']" (click)="sidenav.close()"> 
                    <mat-icon class="mat-icons" aria-hidden="false" aria-label="Example home icon">notifications</mat-icon>
                    
                    Solicitudes 
                </mat-list-item>
                <mat-list-item [routerLinkActive]="['active']" [routerLink]="['/admin-administrador-ayuda']" (click)="sidenav.close()"> 
                    <mat-icon class="mat-icons" aria-hidden="false" aria-label="Example home icon">help</mat-icon>
                    
                    Ayuda 
                </mat-list-item>
                <mat-list-item (click)="cerrarSesion()" (click)="sidenav.close()"> 
                    <mat-icon class="mat-icons" aria-hidden="false" aria-label="Example home icon">exit_to_app</mat-icon>
                    
                    Cerrar sesión 
                </mat-list-item>
            </mat-list>
        </div>
    
    </mat-sidenav>
  
    <mat-sidenav-content>

        <div>
            <ul class="navbar">
                
                <li class="item-navbar">
                    <mat-icon (click)="sidenav.toggle()" style="color: white; cursor: pointer; margin-top: 3px;">menu</mat-icon>
                </li>
                <li class="item-navbar" style="color: white; margin-top: 5px;">Hola, Gustavo Paul</li>
                <li class="item-navbar" style="float: right;">
                    <button mat-button [matMenuTriggerFor]="menuAccount">
                        <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon" style="color: white;">account_circle</mat-icon>

                    </button>
                    <mat-menu #menuAccount="matMenu">
                        <button mat-menu-item>Gustavo Pauls</button>
                        <button mat-menu-item (click)="cerrarSesion()">Cerrar Sesión</button>
                    </mat-menu>
                </li>
                <li class="item-navbar" style="float: right;">
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon aria-hidden="false" aria-label="Example home icon"  matBadge="2" matBadgeColor="warn" style="color: white;">notifications</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="irANuevoCliente()"> <mat-icon>keyboard_arrow_right</mat-icon> Nuevo Cliente</button>
                        <button mat-menu-item (click)="irANuevoCambioDeDatos()"> <mat-icon>keyboard_arrow_right</mat-icon> Solicitud Cambio de Datos</button>
                    </mat-menu>                
                </li>
                
            </ul>
        </div>

        <div>
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>
  