ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1b1e4c;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.navbar {
    padding: 20px;
}

.item-navbar {
    padding-right: 30px;
}

.cabecera {
    width: 100%;
    height: 110px;
    background-color: #1b1e4c;
    padding: 15px 0px 0px 15px;
}

.mat-icons {
    padding-right: 20px;
    
}

mat-sidenav-container {
    height: 100%;
}

mat-list-item:hover{
    cursor: pointer;
    color: #1b1e4c;
    background-color: #ededf3;
}

.active {
    color: #1b1e4c;
    background-color: #ededf3;
    cursor: text !important;
}