<div>

    <br>
    <mat-form-field style="width: 100%;">
        <input matInput (keyup)="buscarPersonaNatural($event.target.value)" placeholder="Buscar">
    </mat-form-field> 
    <br>

    <div class="mat-elevation-z8">
        <table mat-table
            [dataSource]="dataSource" 
            multiTemplateDataRows
            cdkFocusInitial
            matSort>
            <ng-container matColumnDef="Nombres">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
                <td mat-cell *matCellDef="let element"> {{element.Nombres}} </td>
            </ng-container>

            <ng-container matColumnDef="Apellidos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
                <td mat-cell *matCellDef="let element"> {{element.Apellidos}} </td>
            </ng-container>

            <ng-container matColumnDef="DNI">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
                <td mat-cell *matCellDef="let element"> {{element.DNI}} </td>
            </ng-container>

            <ng-container matColumnDef="Correo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
                <td mat-cell *matCellDef="let element"> {{element.Correo}} </td>
            </ng-container>

            <ng-container matColumnDef="Estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                <td mat-cell *matCellDef="let element"> 
                    <span class="status-aceptado" *ngIf="element.status == 'aceptado'">Aceptado</span>
                    <span class="status-ingresado" *ngIf="element.status == 'ingresado'">Ingresado</span>
                    <span class="status-evaluacion" *ngIf="element.status != 'aceptado' && element.status != 'ingresado' && element.status != 'rechazado'">En Evaluación</span>
                    <span class="status-rechazado" *ngIf="element.status == 'rechazado'">Rechazado</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="Accion">
                <th mat-header-cell *matHeaderCellDef> Accion </th>
                <td mat-cell *matCellDef="let element" ngFor="let element of dataSource">  
                    <button *ngIf="element.status == 'en evaluacion'" (click)="aceptar(element.id)" mat-mini-fab aria-label="Example icon-button with a heart icon" style="background-color: green; padding-right: 0px !important; width: 32px; height: 32px;">
                        <mat-icon style="padding-right: 0px; font-size: 16px;">check</mat-icon>
                    </button>
                    &nbsp;
                    <button *ngIf="element.status == 'en evaluacion'" (click)="rechazar(element.id)" mat-mini-fab aria-label="Example icon-button with a heart icon"  style="background-color: red; padding-right: 0px !important; width: 32px; height: 32px;">
                        <mat-icon style="padding-right: 0px; font-size: 16px;">close</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length" ngFor="let element of dataSource">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
                        style="box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2); transition: 0.3s; width: 100%;">
                            <div class="example-element-diagram" >

                                <div style="width: 33%; float: left;">
                                    <h3>Datos Personales</h3>

                                    <p>{{element.Apellidos}} {{element.Nombres}}</p>
                                    <p>{{element.departamento}} - {{element.provincia}} - {{element.distrito}}</p>
                                    <p>{{element.direccion}}</p>
                                    <p>{{element.genero}}</p>
                                </div>
                                <div style="width: 33%; float: left;">
                                    <h3>Datos De Identificación</h3>
                                    
                                    <p>DNI: {{element.DNI}}</p>
                                    <p>{{element.fechaNacimiento}}</p>
                                    <p>{{element.Correo}}</p>
                                    <p>{{element.telefono}}</p>
                                </div>
                                <div style="width: 33%; float: left;">
                                    <h3>Datos Laborales</h3>
                                    
                                    <p>{{element.ocupacion}}</p>
                                    <p>{{element.centroLaboral}}</p>
                                    
                                </div>
                                
                            </div>
                            
                        
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>