



<div>

    <div class="content">

        <div class="container" id="container">
            
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right">
                        <img src="assets/images/Isotipo.png" alt="" width="200px">
                        <br>
                        <h1>Restablecer Contraseña</h1>
                        <p>Ingrese su Correo Electrónico</p>
                        
                    </div>
                    
                    
                </div>
            </div>
            
            <div class="form-container sign-up-container">
                <form action="#">
                    
                    <h1>Ingresa el código de solicitud</h1>
                    
                    <br>
    
                    <mat-form-field>
                        <input matInput placeholder="Código">
                    </mat-form-field>
    
                    <!-- <mat-form-field appearance="outline">
                        <mat-label>Código</mat-label>
                        <input matInput>
                        <mat-icon matSuffix>receipt</mat-icon>
                    </mat-form-field> -->
    
                    <button class="button">INICIAR REGISTRO</button>
                </form>
            </div>
    
            <div class="form-container sign-in-container">
                <mat-progress-bar mode="indeterminate" *ngIf="loader"></mat-progress-bar>

                <form action="">
                    
                    <h1>Restablecer Contraseña</h1>
    
                    <br>
                    
                    <mat-form-field>
                        <input matInput placeholder="Correo electrónico" name="email" [(ngModel)] = "email" (keyup)="clean()">
                    </mat-form-field>
                    
                    <div class="content-error">
                        <span class="message-error">{{messageError}}</span>
                    </div>
                    <div class="content-success">
                        <span class="message-success">{{messageSuccess}}</span>
                    </div>

                    <a style="cursor: pointer;" [routerLink]="['/iniciar-sesion']">Volver a la sección de iniciar sesión</a>
    
                    <button class="button" (click)="enviar()">{{messageButton}}</button>
                </form>
    
            </div>
    
        </div>
    
    </div>

</div>
  
