<div>

    <h2 style="text-align: center;">Cambiar Contraseña</h2>

    <form action="">

        <mat-form-field style="width: 100%;">
            <input matInput placeholder="Nueva Contraseña" [type]="hide ? 'password' : 'text'" [(ngModel)]="data.passwordChange" name="passwordChange">
            <button mat-icon-button matSuffix (click)="hideChange = !hideChange" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideChange">
                <mat-icon>{{hideChange ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field style="width: 100%;">
            <input matInput placeholder="Confirmar Contraseña" [type]="hide ? 'password' : 'text'" [(ngModel)]="data.passwordChangeConfirm" name="passwordChangeConfirm">
            <button mat-icon-button matSuffix (click)="hideChangeConfirm = !hideChangeConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideChangeConfirm">
                <mat-icon>{{hideChangeConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <button mat-raised-button [mat-dialog-close]="data">Enviar</button>
    </form>
</div>