
<div style="padding: 35px;">

    <h2>Solicitudes</h2>

    <div>
        <mat-tab-group>
            <mat-tab label="Persona Natural">
                
                <app-natural-notification></app-natural-notification>

            </mat-tab>
            <mat-tab label="Persona Juridica">

                <app-juridical-notification></app-juridical-notification>

            </mat-tab>
            <mat-tab label="Solicitudes aceptadas">

                <app-accepteds></app-accepteds>

            </mat-tab>
            <mat-tab label="Solicitudes rechazadas">

                <app-rejecteds></app-rejecteds>

            </mat-tab>
        </mat-tab-group>
    </div>
    

</div>
  
