<div class="content">
    
    <div class="container" id="container">
        
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <img src="assets/images/Isotipo.png" alt="" width="200px">
                    <br>
                    <h1>¿Tienes un código de registro?</h1>
                    <p>Ingresa el código de registro para proceder a la evaluación</p>
        
                    <button class="ghost" id="signUp">INGRESAR</button>
                </div>
                
                <div class="overlay-panel overlay-left">
                    <img src="assets/images/Isotipo.png" alt="" width="200px">
                    <br>
                    <h1>¿Recordaste tus accesos?</h1>
                    <p>Regresa al login para acceder con tus datos</p>
                    <button class="ghost" id="signIn">REGRESAR</button>
                </div>
            </div>
        </div>
        
        <div class="form-container sign-up-container">
            <form action="#">
                
                <h1>Ingresa el código de solicitud</h1>
                
                <br>

                <mat-form-field appearance="outline">
                    <mat-label>Código</mat-label>
                    <input matInput>
                    <mat-icon matSuffix>receipt</mat-icon>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>

                <button>INICIAR REGISTRO</button>
            </form>
        </div>

        <div class="form-container sign-in-container">
            
            <form action="">
                
                <h1>Ingreso a cuenta personal</h1>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput>
                    <mat-icon matSuffix>email</mat-icon>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>

                
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput>
                    <mat-icon matSuffix>lock</mat-icon>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>

                <a href="">¿Olvidaste tu contraseña?</a>

                <button>ACCEDER</button>
            </form>
        </div>


                


    </div>

</div>